<template>
  <div id="app">
    <Application>
      <router-view></router-view>
    </Application>
  </div>
</template>

<script>
import Application from './components/Application.vue'


export default {
  name: 'app',
  components: {
    Application,
  }
}
</script>
<style lang="scss" scoped>
  @import url(https://fonts.googleapis.com/css?family=Poppins);

  #app {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  position: absolute;
  color: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  background-image: url('./assets/photos/bg_photo.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

