@import url(https://fonts.googleapis.com/css?family=Poppins);
h1{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  text-align: center;
}
h3{
  font-size: 1em;
  margin: 0 auto 0 0.4em;
  text-align: left;
}
.app{
    position: absolute;
    height: 100vh;
    width: 100%;
  }
.mainSite{
    position: relative;
    background-color:  rgba(95, 94, 94, 0.582);
    margin: 10% auto 10% auto;
    width: 50%; 
    padding: 20px;
    text-align: center;
    color: white;
}