<template>
  <div class="app">
    <slot></slot> 
  </div>
</template>

<script>
export default {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
@import '../assets/generalCSS.scss';

</style>
