<template>
    <button class="bgButton"><slot></slot></button>
</template>

<script>

export default {
  components: {
     
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
.bgButton{
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  box-shadow: 1px  5px 10px 1px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 300ms;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.301);
  letter-spacing: 2px;
}
.bgButton:hover{
  background-color: white;
  color: rgb(31, 31, 31);
  box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
}
</style>