<template>
  <div class="mainSite">
    <h1>GRUPA</h1>
    <h2>nazwa_grupy</h2>
    <table>
        <thead>
            <th>Wydarzenie</th>
            <th>Uczestnicy</th>
        </thead>
        <tbody>
            <td></td>
            <td></td>
        </tbody>
    </table>
  </div>
</template>

<script>
import ButtonRectangle from './ButtonRectangle.vue'

export default {
data: function(){
    return{
    selected: '',
    groups: []
    }
  },
  components: {
      ButtonRectangle
  },
  methods: {

  },
  mounted() {
   
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import '../assets/generalCSS.scss';

</style>
