<template>
<div class="mainSite">
    <h1>Grupy</h1>
        <div class="loading" v-if="loading">
            Loading...
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Members</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="group in groups" :key="group.id">
              <td>{{group.id}}</td>
              <td>{{group.name}}</td>
              <td>
                  <router-link to="/logToGroup">
                      <button>Zaloguj</button>
                  </router-link>
              </td>
              <td>
                  <thead>
                      <th>Email</th>
                      <th>Status</th>
                  </thead>
                  <tbody>
                      <tr v-for="user in group.userEmails" :key="user.id">
                          <td>{{user.email}}</td>
                          <td>{{user.status}}</td>
                      </tr>

                  </tbody>
              </td>
              <td>{{group.status}}</td>
            </tr>
          </tbody>
        </table>
   <!-- <ButtonRectangle>Kliknij mnie!</ButtonRectangle> -->
</div>
</template>

<script>
export default {
  data: function() {
    return {
      groups: [],
      loading: false
    };
  },
  methods: {
    fetchData: function() {
      this.loading = true;
      const url = "http://localhost:3000/groups";
      fetch(url, {
        mode: "cors"
      })
        .then(resp => {
          return resp.json();
        })
        .then(jsonGroups => {
          console.log(jsonGroups);
          this.groups = jsonGroups;
          this.loading = false;
        });
    }
  },
  mounted() {
    this.fetchData();
  },
  components: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/generalCSS.scss";
</style>