<template>
  <div class="mainSite">
    <h1>MENU</h1>
    <router-link to="/newGroup">
        <ButtonRectangle>Utwórz nową grupę</ButtonRectangle>
    </router-link><br />
    <h2>Dołącz do istniejącej grupy</h2>
    <div class="selectLook">
        <select v-model="selected">
            <option disabled value="Wybierz">Wybierz grupę</option>
            <option v-for="group in groups" :key="group.id" v-bind:value="group.id">{{group.name}}</option>
        </select>
    </div>
    <ButtonRectangle>Dołącz</ButtonRectangle>
    <h3>Została wybrana grupa: {{selected}}</h3>
  </div>
</template>

<script>
import ButtonRectangle from './ButtonRectangle.vue'

export default {
data: function(){
    return{
    selected: '',
    groups: []
    }
  },
  components: {
      ButtonRectangle
  },
  methods: {
      fetchGroups: function(){
        const url = "http://localhost:3000/groups";
        fetch(url, {
            mode: "cors"
        })
            .then(resp => {
                return resp.json();
            })
            .then(jsonGroups => {
                console.log(jsonGroups);
                this.groups = jsonGroups;
            });
      },
      whichSelected: function(){
          console.log("ola");
      }
  },
  mounted() {
    this.fetchGroups();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
@import url(https://fonts.googleapis.com/css?family=Poppins);

h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
h3{
    font-size: 1em;
    color: rgba(0, 0, 0, 0.555);
}
select{
    width: 100%;
    padding: .5em;
    background: #efefef;
    border: none;
    border-radius: 3px;
    padding: 1em 2em 1em 1em;
    font-size: 1em;
}
.mainSite{
  position: relative;
  background-color:  rgba(95, 94, 94, 0.582);
  margin: 10% auto 10% auto;
  width: 50%; 
  padding: 20px;
  text-align: center;

}
.selectLook{
    width: 25%;
    margin: 0 auto 0 auto;
    padding: 0;
}
</style>
