<template>
  <div class="mainSite">
    <h2>Logowanie</h2>
    <div class="registerForm">
      <form>
        <h3>Email</h3>
        <input class="inputField" type="email" name="email" v-model="email" placeholder="Wprowadz adres email" /><br>
        <h3>Hasło</h3>
        <input class="inputField" type="password" name="password" v-model="password" placeholder="Wprowadz hasło" /><br>
        <router-link v-if="this.ifLogged === false" to='/login'>
          <ButtonRectangle class="submitField" type="button"  v-on:click.native="checkIfUserInDatabase()">Zaloguj</ButtonRectangle><br>
        </router-link>
        <router-link v-else to='/internalMenu'>
          <ButtonRectangle class="submitField" type="button"  v-on:click.native="checkIfUserInDatabase()">Zaloguj</ButtonRectangle><br>
        </router-link>
        
      </form>
    </div>
   <!-- <ButtonRectangle>Kliknij mnie!</ButtonRectangle> -->
  </div>
</template>

<script>
import ButtonRectangle from './ButtonRectangle.vue'

export default {
  data: function(){
    return{
      email: "",
      password: "",
      ifLogged: false,
    }
  },
  components: {
      ButtonRectangle
  },
  methods: {
    checkIfUserInDatabase: function(){
        let userEmail = this.email;
        let userPassword = this.password;
        let url = 'http://localhost:3000/users?email=' + userEmail + '&password=' + userPassword;

        fetch(url, {
            mode: 'cors'
        })
        .then(resp =>{
            let response = resp.json();
            return response
        })
        .then(json =>{
            console.log(json.length)
            if(json.length === 1){
              console.log('Uzytkownik zostal zalogowany');
              this.email = '';
              this.password = '';
              this.ifLogged = true;
            }else{
              alert('Niepoprawny login lub haslo');
              this.email = '';
              this.password = '';
              this.ifLogged = false;
            }
        })
    },
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/generalCSS.scss';


.register{
  position: relative;
  background-color: rgba(95, 94, 94, 0.582);
  margin: 10% auto 0% auto;
  width: 50%; 

}
.registerForm{
  position: relative;
  width: 50%;
  margin: 0 auto 0 auto;
}
.inputField{
  position: relative;
  width: 90%;
  padding: 10px;
  margin: 5px 0px;

}
.submitField{
  position: relative;
  margin: 5px auto 5px auto;
  width: 96%;
  padding: 10px;
}
</style>