<template>
  <div class="mainSite">
    <h1>Aplikacja umożliwiająca tworzenie i zapisanie się na wydarzenie</h1>
    <router-link to="/register">
        <ButtonRectangle>Rejestracja</ButtonRectangle>
    </router-link>
    <router-link to="/login">
        <ButtonRectangle>Logowanie</ButtonRectangle>
    </router-link>
  </div>
</template>

<script>
import ButtonRectangle from './ButtonRectangle.vue'

export default {
  components: {
      ButtonRectangle
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import '../assets/generalCSS.scss';


</style>
