<template>
  <div class="mainSite">
    <h2>Tworzenie nowej grupy</h2>
    <div class="registerForm">
      <form>
        <h3>Nazwa użytkownika:</h3>
        <input class="inputField" type="text" name="groupname" v-model="groupName" placeholder="Wprowadz swoj login" /><br>
        <h3>Hasło:</h3>
        <input class="inputField" type="password" name="password" required v-model="password" placeholder="Wprowadz haslo" /><br>
        <h3>Powtórz hasło:</h3>
        <input class="inputField" type="password" name="passwordRepl" required v-model="passwordRepl" placeholder="Wprowadz ponownie haslo" /><br>
        <p class="passwordsFit" v-if='this.password === this.passwordRepl'></p>
        <p class="passwordsFit" v-else>Wprowadzone hasła nie są identyczne.</p>
        <router-link to="/groups">
          <ButtonRectangle class="submitField" type="button"  v-on:click.native="fetchDataUpload()">Prześlij</ButtonRectangle>
        </router-link>
      </form>
    </div>
   <!-- <ButtonRectangle>Kliknij mnie!</ButtonRectangle> -->
  </div>
</template>

<script>
import ButtonRectangle from './ButtonRectangle.vue'

export default {
  data: function(){
    return{
      groupName: '',
      password: '',
      passwordRepl: '',
    }
  },
  components: {
      ButtonRectangle
  },
  methods: {
    fetchDataUpload: function(){
      const newGroup = {"name": this.groupName, "password":this.password, "passwordRepl":this.passwordRepl}


      fetch("http://localhost:3000/groups",{
        method: "post",
        mode: "cors",
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        },
        body: JSON.stringify(newGroup)
      })
      .then(res => res.json())
      .then(res => {
        if(this.password === this.passwordRepl && this.password !== '' && this.passwordRepl !== ''){
          alert("Grupa została dodana poprawnie.");
          console.log(res);
        }else{
          alert('Wystąpił problem z dodaniem grupy do bazy.')
        }     
        this.groupName = '';
        this.password = '';
        this.passwordRepl = ''
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/generalCSS.scss';
.registerForm{
  position: relative;
  width: 50%;
  margin: 0 auto 0 auto;
}
.inputField{
  position: relative;
  width: 90%;
  padding: 10px;
  margin: 5px 0px;

}
.submitField{
  position: relative;
  margin: 5px auto 5px auto;
  width: 96%;
  padding: 10px;
}
.passwordsFit{
  margin: 0;
  color: red;
  font-size: 0.7em;
}
</style>