<template>
  <div class="userTable">
    <div class="mainSite">
      <h2>Użytkownicy</h2>
        <div class="loading" v-if="loading">
            Loading...
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users" :key="user.id">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.status}}</td>
            </tr>
          </tbody>
        </table>
    </div>
   <!-- <ButtonRectangle>Kliknij mnie!</ButtonRectangle> -->
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      users: [],
      loading: false
    };
  },
  methods: {
    fetchData: function() {
      this.loading = true;
      const url = "http://localhost:3000/users";
      fetch(url, {
        mode: "cors"
      })
        .then(resp => {
          return resp.json();
        })
        .then(jsonUsers => {
          console.log(jsonUsers);
          this.users = jsonUsers;
          this.loading = false;
        });
    }
  },
  mounted() {
    this.fetchData();
  },
  components: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/generalCSS.scss';

</style>